<ul>
  <li>
    <label for="contact_name">Name</label>
    <input id="contact_name" type="text" name="contact[name]" value="<%= contact.name %>" />
  </li>
  <li>
    <label for="contact_email">Email</label>
    <input id="contact_email" type="text" name="contact[email]" value="<%= contact.email %>" />
  </li>
  <li>
    <input type="submit" value="Save" />
  </li>
</ul>
