<ul>
  <li>
    <label for="contact_name">Name</label>
    <input id="contact_name" type="text" name="contact[name]" placeholder = "Name" />
  </li>
  <li>
    <label for="contact_email">Email</label>
    <input id="contact_email" type="text" name="contact[email]" placeholder = "Email"  />
  </li>
</ul>
