<div class="container">
  <%if @contact %>
    <h1>Edit contact: <%=@contact.email %></h1>
  <%end%>
  <form action="/contacts/<%= @contact.id %>" method="POST">
    <input type="hidden" name="_method" value="put" />
    <input type="submit" value="EDIT"/>
    <%= erb :"contacts/_form"%>
  </form>
  <form action="/contacts/<%= @contact.id %>" method="POST">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="DELETE" />
  </form>
</div>
