<div class="container">
  
  <h1>Contacts</h1>
  
  <% @contacts.each do |contact| %>
    <ul>
      <li><b>Name: </b><a href="/contacts/<%=contact.id %>"><%= contact.name %></a></li>
      <li><b>Email: </b><%= contact.email %></li>
    </ul>
    <hr>
  <% end %>
  
  <div class= "nav_bar"> 
  	<ul>
  		<li><a href="/contacts/new">Add New Contact</a></li>
  	</ul>
  </div>
</div>
