<div class="container">
  <h1>Contacts</h1>
  <% @contacts.each do |contact| %>
    <ul>
      <li><a href="/contacts/<%=contact.id %>"><%= contact.name %></a></li>
      <li><%= contact.email %></li>
    </ul>
    <hr>
  <% end %>
  <a href="/contacts/new">Create Contact</a>
</div>
