<ul>
  <li>
    <label for="address_street">Street</label>
    <input id="address_street" type="text" name="address[street]" value="<%= address.street %>" />
  </li>
  <li>
    <label for="address_city">City</label>
    <input id="address_city" type="text" name="address[city]" value="<%= address.city %>" />
  </li>
  <li>
    <label for="address_state">State</label>
    <input id="address_state" type="text" name="address[state]" value="<%= address.state %>" />
  </li>
  <li>
    <label for="address_zip">Zip</label>
    <input id="address_zip" type="text" name="address[zip]" value="<%= address.zip %>" />
  </li>

  <li>
    <input type="submit" value="Save" />
  </li>
</ul>
