  <%if @address %>
  <p>Address to be edited:</p>
  <p><%=@address.street %></p>
  <p><%=@address.city %></p>
  <p><%=@address.state %></p>
  <p><%=@address.zip %></p>
  <% end %>

<ul>
  <li>
    <input id="address_street" type="text" name="address[street]" placeholder="Street" />
  </li>
  <li>
    <input id="address_city" type="text" name="address[city]" placeholder="City" />
  </li>
  <li>
    <input id="address_state" type="text" name="address[state]" placeholder="State" />
  </li>
  <li>
    <input id="address_zip" type="text" name="address[zip]" placeholder="Zip" />
  </li>
</ul>
