<div class="container">
  <h1>New Address for <%= @contact.email%></h1>
  <form action="/contacts/<%= @contact.id %>/addresses" method="POST">
    <%= erb :"addresses/_form", locals: { contact: @contact, address: @address } %>
    <input type="submit" value="Save new address!" />
  </form>
</div>
