<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, <%= em("world!") %></p>

  <ul>
    <li> View contacts </li>
    <li> Add new contact </li>
    <li> Edit contact </li>
    <li> Add new address </li>
    <li> Edit address </li>

</div>
