<div class="container">
  <a>Login</a>
  <form action="/sessions" method="POST">
    <input id="user_email" type="text" name="user[email]"  placeholder="Email">Email</input><br>
    <input id="user_password" type="text" name="user[password]"  placeholder="Password"/>
    <input type="submit" value="Login">
  </form>


</div>
